.navbar {
    display: flex;
    align-items: center;
    background-color: #2A2A2A;
    padding: 10px;
    color: white;
}

.navbar .logo {
    height: 24px; /* Ajusta el tamaño de la imagen al tamaño del texto */
    margin-right: 10px;
}

.navbar .title {
    font-size: 24px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.menu li {
    position: relative;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 15px 30px; /* Ajusta el padding para hacer los botones más grandes */
    display: block;
    width: 150px; /* Establece un ancho fijo para cada botón */
    text-align: center; /* Centra el texto dentro de los botones */
    border-radius: 10px; /* Redondea los bordes de los botones */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
}

.menu li a:hover {
    color: white;
    background-color: #555;
}

.staticHover{
    color: white;
    background-color: #555;
}

.navbar-toggler:focus {
    border: 3px !important;
    box-shadow: 0px 0px 5px rgb(255, 255, 255) !important;
}

.navbar-toggler {
    border: none; /* Quita el borde del botón */
}

.navbar-toggler-icon {
    filter: invert(1); /* Hace que el icono sea blanco */
}

.navbar-toggler {
    position: absolute;
    top: 10px; /* Ajusta según tu diseño */
    right: 20px; /* Ajusta según tu diseño */
}