body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A1A1A !important;
}

.btn {
    background-color: #2A2A2A !important;
}

h3 {
    font-size: 1.5rem !important;
    margin-right: 5px;
    font-weight: lighter !important;
}

/* Estilo para elementos con la clase .card */
.card {
    width: 380px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    /* Evita que el contenido haga crecer la tarjeta */
    white-space: normal;
    /* Permite saltos de línea si es necesario */
    word-wrap: break-word;
}

/* Estilo para elementos con la clase .btn-color-card */
.btn-color-card {
    background-color: #2A2A2A;
    border-color: #555;
    color: white !important;
}

.form-control {
    width: 100% !important;
}

/* Estilo para el estado hover de los botones con la clase .btn-color-card */
.btn-color-card:hover {
    color: white;
    background-color: #555 !important;
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

.shrink {
    animation: scaleOut 0.2s ease-out forwards;
}