body {
    margin: 0;
    padding: 0;
    background-color: #1A1A1A !important;
    font-family: 'Ubuntu', sans-serif;
}

.mainFont{
    font-family: 'Source_Code_Pro', sans-serif;
}

h1{
    color: white;
}

.lineaSeparadora { 
    border-top: 2px solid rgb(255, 255, 255);
    margin-top: 2px;
    margin-bottom: 5px;
}