body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
}

.navbar .logo {
    height: 24px; /* Ajusta el tamaño de la imagen al tamaño del texto */
    margin-right: 10px;
}

.navbar .title {
    font-size: 24px;
    margin-right: 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.menu li {
    position: relative;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 15px 30px; /* Ajusta el padding para hacer los botones más grandes */
    display: block;
    width: 150px; /* Establece un ancho fijo para cada botón */
    text-align: center; /* Centra el texto dentro de los botones */
    border-radius: 10px; /* Redondea los bordes de los botones */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
}

.menu li a:hover {
    background-color: #555;
}